<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>{{ page.tittle }}</title>
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="js/animation.js"></script>
<style>
body{
	  font-family: 'microsoft yahei',Arial,sans-serif;
}

.cvheader h1{ 
	margin: 20px 0;
	padding-top:30px;
	padding-bottom:20px;
}
/* [class *= col-]{
  background-color: #eee;
} */
.cvbody{ 
	
	padding-top: 50px; 
} 
 .redbox{ 	
 	padding: 40px;
	background-color:#dd4814;
	color:white;
} 

.greenbox{ 

	padding: 40px;
	background-color:#2ecc71;
	color:white;
}
.marginh2 h2{ 
	margin: 50px 0;
}
ul{ 
	
	margin-left:40px;

}
li{ 
margin-bottom: 40px;

}
</style>
</head>
<body>
    	{{ content }}
<div class="container"> 

	<div class="row cvheader">
		<div class="col-md-12 text-center" >
		<h1 class="text-primary">匡志宸 Eric Kuang</h1>
		<p class="text-primary lead">一个半调子英语、略懂日语的前端工程师</p>
		<p class="text-primary lead">缺的是兴趣，不缺的是求知的欲望和激情</p>
		</div>
	</div>
</div>		

	<div class="row cvbody">
		<div class="col-md-6 "> 
			<div class="greenbox text-center" >
			<h2>个人信息</h2>
			<p class="lead">1989年出生于湖北荆州<br />2006年就读于鄂尔多斯市第二中学<br />2009年就读于西安翻译学院英语系, 2012年辍学</p>
				
			
			</div>
		</div>
		
		<div class="col-md-6 "> 
			<div class="redbox text-center">
			<h2> 工作经历</h2>
			<p class="lead">2007年就职富邦健身俱乐部<br />2012年赴美于克利夫兰homewood酒店实习<br />2013年就职清华少儿英语
			</p>
			</div>
		</div>
	</div>
	<div class="row cvjob text-center">
		轮播图
	</div>


<div class="container" style="margin-top:60px"> 
	<div class="row sheets marginh2">

		<h2 class="col-md-12 text-primary">擅长技术:</h2>

		<div class="col-md-2 ">
			<row>

			<ul class="list-unstyled text-primary lead">
				<li>html5</li>
				<li>css3</li>
				<li>Javascript</li>
			</ul>
			</row>
		</div>
		
		
		<div class="col-md-4">
			<canvas id="js" width="400" height="320"></canvas>
		</div>

		<div class="col-md-2 ">
			<row>

			<ul class="list-unstyled text-primary lead">
				<li>Jquery</li>
				<li>EaselJS</li>
				<li>Bootstrap</li>
				<li>Less</li>
			</ul>
			</row>
		</div>

		<div class="col-md-4">
			<canvas  id="fK" width="400" height="320"></canvas>
		</div>
		
	</div>
	<div class="row hobby marginh2">
		<h2 class="col-md-12 text-primary">兴趣爱好:</h2>
		

	</div>
</div>

<script>
 $(function(){

 $.getScript('http://www.chartjs.org/assets/Chart.js', function(){

     var data = [
      {
        value:30,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Javascript"
    },
    {
        value: 35,
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "html5"
    },
   
    {
        value: 35,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "css3"
    }
]
	var myPieChart ={animation: true,segmentShowStroke : false};
	var jS =$('#js');
	var jt = jS.get(0).getContext('2d');
	
	var gJs= new Chart(jt).Doughnut(data, myPieChart);

    var frameWork = [
      {
        value:25,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Jquery"
    },
     {
        value:25,
        color: "pink",
        highlight: "purple",
        label: "EaselJS"
    },
    {
        value: 25,
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "Less"
    },
   
    {
        value: 25,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "Bootstrap"
    }
]
	var PieChart ={animation: true,segmentShowStroke : false}

	

	var fK =$('#fK');
	
	

	var KK =fK.get(0).getContext('2d');

	var fKK =new Chart(KK).Doughnut(frameWork,PieChart);
	
	

 })
 });
</script>
</body>
</html>